---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Cards from '../components/Cards.astro'
---

<Layout title="Home | Frame Data API">
	<main>
		    <Hero />
            <Cards />
	</main>
</Layout>

