<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1329">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <h2 class="cs-title">Upcoming Games</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link">
                    <span class="cs-number"></span>
                    <h3 class="cs-h3">Guilty Gear Strive</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 900px)"
                            srcset="/gg_st_logo.png">
                    <source media="(min-width: 901px)"
                            srcset="/sol_cover.jpg">
                    <img decoding="async"
                            src="/sol_cover.jpg"
                            alt="ggstrive" width="413" height="374" aria-hidden="true">
                </picture>         
            </li>
            <li class="cs-item">
                <a class="cs-link">
                    <span class="cs-number"></span>
                    <h3 class="cs-h3">Granblue Fantasy Versus: Rising</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 900px)"
                            srcset="/gbvsr_logo.png">
                    <source media="(min-width: 901px)"
                            srcset="/gbvr.avif">
                    <img decoding="async"
                            src="/gbvr.avif"
                            alt="granblue" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-link">
                    <h3 class="cs-h3">Tekken 8</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 900px)"
                            srcset="/tekken8-logo.png">
                    <source media="(min-width: 901px)"
                            srcset="/tekken8.jpg">
                    <img decoding="async"
                            src="/tekken8.jpg"
                            alt="tekken" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<style>
    /* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1329 {
        padding: var(--sectionPadding);
        position: relative;
    }
    #services-1329 .cs-container {
        width: 100%;
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1329 .cs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        gap: 1rem;
    }

    #services-1329 .cs-title {
        max-width: 20ch;
    }
    #services-1329 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.25rem);
    }
    #services-1329 .cs-item {
        list-style: none;
        width: 100%;
        /* 300px - 380px */
        height: clamp(18.75rem, 50vw, 23.75rem);
        margin: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        text-align: left;
        box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
        grid-column: span 12;
        z-index: 1;
    }
    #services-1329 .cs-item:hover .cs-picture::after {
        opacity: 1;
    }
    #services-1329 .cs-item:hover .cs-picture img {
        transform: scale(1.2);
    }
    #services-1329 .cs-item:hover .cs-h3 {
        color: var(--primary);
    }
    #services-1329 .cs-item:hover .cs-number {
        opacity: 1;
        top: clamp(1.25rem, 2.3vw, 2rem);
    }
    #services-1329 .cs-item:hover .cs-arrow {
        opacity: 0.12;
        bottom: 50%;
        transform: translateY(50%);
    }
    #services-1329 .cs-link {
        text-decoration: none;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        /* 20px - 32px */
        padding: clamp(1.25rem, 2.3vw, 2rem);
        /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
    }
    #services-1329 .cs-link::after {
        /* hover overlay */
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
        transition: opacity 0.3s;
    }
    #services-1329 .cs-number {
        /* 25px - 39px */
        font-size: clamp(1.5625rem, 2.7vw, 2.4375rem);
        font-weight: bold;
        color: var(--bodyTextColorWhite);
        opacity: 0;
        position: absolute;
        top: 0;
        transition:
            opacity 0.3s,
            top 0.3s;
    }
    #services-1329 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: bold;
        margin: 0 0 0.25rem 0;
        color: var(--bodyTextColorWhite);
        transition: color 0.3s;
        text-align: inherit;
    }
    #services-1329 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        color: var(--bodyTextColorWhite);
    }
    #services-1329 .cs-picture {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #services-1329 .cs-picture:before {
        /* background color overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(
            top,
            rgba(26, 26, 26, 0) 0%,
            rgba(0, 0, 0, 0.76) 100%
        );
        /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(26, 26, 26, 0) 0%,
            rgba(0, 0, 0, 0.76) 100%
        );
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(26, 26, 26, 0) 0%,
            rgba(0, 0, 0, 0.76) 100%
        );
        opacity: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #services-1329 .cs-picture:after {
        /* background color overlay on hover */
        content: "";
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(
            top,
            rgba(26, 26, 26, 0.4) 0%,
            rgba(0, 0, 0, 0.8) 100%
        );
        /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(26, 26, 26, 0.4) 0%,
            rgba(0, 0, 0, 0.8) 100%
        );
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(26, 26, 26, 0.4) 0%,
            rgba(0, 0, 0, 0.8) 100%
        );
        opacity: 0;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: opacity 0.3s;
    }
    #services-1329 .cs-picture img {
        width: 100%;
        height: 100%;
        /* Makes img tag act as a background image */
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.7s;
    }
    #services-1329 .cs-arrow {
        width: 100%;
        height: auto;
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        transition:
            bottom 0.3s,
            opacity 0.3s,
            transform 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1329 {
        padding-bottom: 0;
    }
    #services-1329 .cs-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        gap: 2.5rem;
    }
    #services-1329 .cs-text {
        width: 50%;
    }
    #services-1329 .cs-title {
        font-size: 50px;
        color: var(--bodyTextColorWhite);
        margin: 0;
    }
}
/* Desktop - 900px */
@media only screen and (min-width: 56.25rem) {
    #services-1329 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    #services-1329 .cs-container {
        max-width: 80rem;
    }
    #services-1329 .cs-item {
        height: 30rem;
        grid-column: span 4;
    }
}

    #services-1329 .cs-content{
        justify-content: center;
    }

    #services-1329 .cs-title {
      
        color: var(--bodyTextColorWhite);
     
    }
</style>